* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    min-height: 100%;
}

header, footer, article, div, aside, nav {
    border-radius: 3px;
    background-color: yellow;
    border: 1px solid orange;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

footer {
    
}

@media screen and (min-width: 768px) {
    
    nav ul{
        display: inline;
        text-align: center;
    }

    nav ul li:first-child {
        float: left;
    }

    nav ul li:nth-child(2) {
        float: right;
    }

    aside, #advertising {
        float: left;
        width: 29%;
        margin-right: 1%;
    }

    article, footer {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    nav {
        float: left;
        width: 20%;
        margin-right: 1%;

    }

    nav ul {
        display: block;
        text-align: left;
    }

    nav ul li {
        float: none !important;
    }

    article {
        width: 58%;
        float: left; 
    }

    aside, #advertising {
        margin-left: 1%;
        margin-right: 0;
        float: right;
        width: 20%;
    }

    footer {
        width: 100%;
    }

}